*.egg
*.egg-info
*.pyc
*$py.class
*~
.coverage
.coveragerc
coverage.xml

.idea/
python-for-entrepreneurs-course-demos/
build/
dist/
.tox/
nosetests.xml
env*/
tmp/
Data.fs*
*.sublime-project
*.sublime-workspace
.*.sw?
.sw?
.DS_Store
coverage
test
